/* .header {
    position: absolute;
  width: 1498px;
  height: 2320px;
  left: -4px;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  background-color: #d9f9c9;
  } */
   
  .body {
    position: absolute;
    object-fit: cover;
  width: 1447px;
  height: 1210px;
  /* left: opx; */
  top: 225px;
  max-width: 99%;
  max-height: 99%;
   
  /* background: url("https://images.fineartamerica.com/images-medium-large-5/london-skyline-watercolor-1-irina-march.jpg"); */
  mix-blend-mode: darken;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  background-color:#bce79a;
  opacity:100%;
  }
   
  .prompt {
    position: absolute;
    object-fit: cover;
  width: 589px;
  height: 400px;
  left: 323px;
  top: 200px;
  max-width: 99%;
  max-height: 99%;
  background: #F8FFE4;
  border-radius: 10px;
  }
   
  .mail {
    position: absolute;
  width: 495px;
  height: 59px;
  left: 372px;
  top: 250px;
   
  background: #FFFFFF;
  border: 1px solid #000000;
  }
   
  .namefield {
    position: absolute;
  width: 495px;
  height: 59px;
  left: 372px;
  top: 350px;
   
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
   
  .comments {
    position: absolute;
  width: 495px;
  height: 111px;
  left: 372px;
  top: 450px;
   
  background: #FFFFFF;
  border: 1px solid #000000;
  }
   
  .searchicon {
    position: absolute;
  width: 42px;
  height: 44.46px;
  left: 1384px;
  top: 224.68px;
  color: #000;
  background-color: aqua;
   
  }