.wrapper{
  display: grid;
  grid-template-columns: 60% 40%;
}

.newsImage{
<<<<<<< HEAD
  background-color: greenyellow;
=======
  background-color: white;
>>>>>>> 354780f55865b70b7a3f6a6730311255072e0d02
  float: left;
  height: 300px;
}
.newsContent{
background-color: gainsboro;
float: right;
height: 300px;
padding-left: 10px;
}

.imageArea{
  height: 300px;
  align-content: center;
  width: 100%;
}

.seemore{
  float: right;
  padding-right: 10px;
  color: blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 354780f55865b70b7a3f6a6730311255072e0d02
