.kidsBooks{
    height: 200px;
    width: 25px;
  }
  .imageArea{
    height: 200px;
    align-content: center;
    width: 315px;
    justify-content: space-evenly;
  }
   
.Slider{
  position: absolute;
  width:1498px ;
  height:200px;
  top: 350px;
  /* bottom: auto; */
}

.kids{

position: absolute;
width: 1497px;
height: 190px;
left: 15px;
top: 240px;

font-family: IM FELL English SC;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 61px;
text-align: left;
 color: rgb(12, 12, 12);
}

.see{
  position: absolute;
width: 1497px;
height: 190px;
right: 15px;
top: 240px;
  font-family: IM FELL English;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 36px;
text-align: right;
 cursor: pointer;
color: #000000;

}
.see:hover {
  color: #f80000;
  }