.words{
  flex: auto;
    font-family: 'Josefin Slab';
    font-size: medium;
    font-style: 'Regular';
} 

.title{
        flex: auto;
        font-family: 'IM FELL English SC';
        font-size: 40px;
        font-weight: 700;

}
/* .footerstyle{
    text-align: center;
    background-color: #d2f6fe;
}
.site-layout{
  color:teal;
} */

.kidsBooks{
    height: 200px;
    width: 25px;
    padding: 50px;
  }
  .imageArea{
    height: 300px;
    align-content: center;
    width: 250px;
    justify-content: space-evenly;
    padding:20px;
  }
   
.Slider{
  position: relative;
  width: 100% ;
  height:300px;
  top: -70px;
background-color:#d7f5bc;
  bottom: auto;
}

.kids{

position: relative;
padding-top: 10px;
padding-left: 20px;
font-family: IM FELL English SC;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 61px;
text-align: left;
 color: rgb(12, 12, 12);
}

.see{
  position: relative;
top:-60px;
padding-right: 10px;
font-family: IM FELL English;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 36px;
text-align: right;
 cursor: pointer;
color: #000000;

}
.see:hover {
  color: #f80000;
  }
  .font {
    position: absolute;

font-family: IM FELL English SC;
font-style:italic;
font-weight: bold;
font-size: 40px;
line-height: 40px;
text-align:center;
top:30px;
 
color:rgb(250, 250, 253);
/* background-color: aqua; */
 
}
 
.background {
    
  /* left: -4px; */
 
background-color:steelblue;
height: 130px;
   
}
 
/* .donateicon {
    position:relative;
    padding-left: 970px;
    max-width: 20px;
    top:-15px;
 
 

color:white;
} */
/*  
.donation {
    position: absolute;
width: 185px;
height: 33px;
left: 999px;
top: 5px;
 
font-family: IM FELL English;
font-size: 20px;
line-height: 30px;
text-align: center;
 cursor: pointer;
color:white ;
 
} */
/* .header__left {
  flex: 0.5;
  min-width: 30px;
  background-color: rgb(99, 2, 2);
  color: rgb(19, 18, 18);
  border-radius: 5px;
   padding: 10px; 
  display:flex;
  align-items: right;
  size: 10px;
  right:auto;
} */
/* .header__left > input {
  border: fuchsia;
  width:300px;
  height: 50px;
  background-color: aqua;
  left: 3000px;
  

}
.donation :hover {
    color: #f80000;
    }
 
.log {
 
    position: absolute;
    width: 185px;
    height: 33px;
    left: 1077px;
    top: 5px;
    
    font-family: IM FELL English;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color:  white;
}

.log:hover {
    color: #f80000;
    }
    */
 
/* .searchBar {
    position: relative;
    width: 185px;
    height: 20px;
    left: 900px;
    top:-15px;
} */
 
.body {
  display: flex;
  position: absolute;
  object-fit: cover;
width: 1447px;
height: 500px;
padding-bottom: 200px;
/* left: opx; */
top: 130px;
max-width: 99%;
max-height: 99%;
opacity:50%;
}

.quote {
  display: flex;
  
  position: relative;
  width: 304.75px;
height: 40px;
left: 120px;
top: 170px;
  font-family: IM FELL English;
font-style: normal;
font-weight: bolder;
font-size: 26px;
line-height: 30px;
text-align: center;
 
color: #000000;
  
} 
/* .searchicon {
  position: relative;
   padding-left: 1170px;
   top:-82px;
  size: 40px;

  left: -99px;
    color:white;
} */

.account {
  position: relative;
  left: 980px;
  top: 0.5px;
 
  color: black;
}
 
.search {
  position: relative;
  top: -15px;
  height: 5px;
  left: 970px;
 
  color: black;
}
 
.searchicon {
  position: relative;
}
.donate {
  position: absolute;
  width: 185px;
  height: 33px;
  left: 999px;
  top: 10px;
 
  font-family: IM FELL English;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.donate :hover {
  transition: 100ms transform ease-in;
    transform: scale(1.08);
}
 
.login {
  position: absolute;
  width: 185px;
  height: 33px;
  left: 1077px;
  top: 10px;
 
  font-family: IM FELL English;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
}
 
.text {
  position: absolute;
  width: 185px;
  height: 33px;
  top: 55px;
  left: 1050px;
}
.log:hover {
  color: #f80000;
}
 
.header__left {
  flex: 1.5;
  min-width: 50px;
  background-color: white;
  color: red;
  border-radius: 30px;
  padding: 1px;
  display: flex;
  align-items: center;
}
 
.header__left > input {
  border: none;
  width: 30%;
}