.words{
    font-family: 'Josefin Slab';
    font-size: medium;
    font-style: 'Regular';
}
.title{
        color: black;
        font-family: 'IM FELL English SC';
        font-size: 40px;
        font-weight: 700;
        
}
.footerstyle{
    text-align: center;
    background-color: cornsilk;
}
.kidsBooks{
    height: 200px;
    width: 25px;
    padding: 50px;
  }
  .imageArea{
    height: 300px;
    align-content: center;
    width: 250px;
    justify-content: space-evenly;
    padding:20px;
  }
   
.Slider{
  position: relative;
  width: 100%; ;
  height:300px;
  top: -70px;

  /* bottom: auto; */
}

.kids{

position: relative;
padding-top: 10px;
padding-left: 20px;
font-family: IM FELL English SC;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 61px;
text-align: left;
 color: rgb(12, 12, 12);
}

.see{
  position: relative;
top:-60px;
padding-right: 10px;
font-family: IM FELL English;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 36px;
text-align: right;
 cursor: pointer;
color: #000000;

}
.see:hover {
  color: #f80000;
  }
  .font {
    position: absolute;

font-family: IM FELL English SC;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;
 
color: #000000;
/* background-color: aqua; */
 
}
 
.background {
    
  /* left: -4px; */
 
background-color: rgb(137, 218, 214);
height: 80px;
   
}
 
.donateicon {
    position:relative;
    padding-left: 970px;
    max-width: 20px;
    top:-15px;
 
 

color: green;
}
 
.donation {
    position: absolute;
width: 185px;
height: 33px;
left: 999px;
top: 5px;
 
font-family: IM FELL English;
font-size: 20px;
line-height: 30px;
text-align: center;
 cursor: pointer;
color:white ;
 
}
.donation :hover {
    color: #f80000;
    }
 
.log {
 
    position: absolute;
    width: 185px;
    height: 33px;
    left: 1077px;
    top: 5px;
    
    font-family: IM FELL English;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color:  white;
}

.log:hover {
    color: #f80000;
    }
   
 
.searchBar {
    position: relative;
    width: 185px;
    height: 20px;
    left: 997px;
    top:-44px;
}
 
.searchicon {
  position: relative;
   padding-left: 1170px;
   top:-110px;
  size: 40px;
    color:black;
}